<div>
  <%= form_with model: @post, class:'form', url: user_posts_path(user_id: params[:user_id]) do |form| %>
    <%= form.label :title, class: 'post_label' %> </br>
    <%= form.text_field :title, required: true, class:'post_title' , placeholder: 'Enter post title' %> </br>
    <%= form.label :text, class: 'post_label' %> </br>
    <%= form.text_area :text, required: true, class:'post_text', placeholder: 'Enter blog post' %> </br>
    <%= form.submit "createPost", class: 'post_btn' %>
  <% end %>
</div>