<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'style', media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'navbar.css' %>
    <%= stylesheet_link_tag 'deviseViews.css' %>

  </head>

  <body>
  <header>
  <%= render partial: "shared/navbar" %>
</header>
<main>
<div class:flashy>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
    </main>
  </body>
</html>
